@font-face {
  font-family: 'Penna';
  font-style: normal;
  font-weight: 400;
  src: local('Penna'), local('Penna'), url('./fonts/penna.otf') format('opentype');
}

body {
  background-color: #f9f9fb;
  font-family: 'Penna';
}

button {
  outline: none;
  cursor: pointer;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 0.5rem;
  width: calc(60%);
  display: block;
  outline: none;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 2;
}
